/* Arquivo CSS para estilizar a página index.html*/
body {
    background-color: #10276F;
}
header {
    display: flex;
    background-color: #F2541B;
    justify-content: space-around;
    position: fixed;
    color: #0D0D0D;
}
#entrar {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #EFC978;
    width: 120px;
    border-radius: 15px;
}
a:visited {
    color: #0D0D0D;
}
a {
    color: #0D0D0D;
}
.links {
    place-content: center;
}
